@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --f-all: "League Spartan", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: hsl(180, 52%, 96%);
}

/* MAIN CONTAINER */

.container {
    display: flex;
    flex-direction: column;
}

/* FILTER CONTAINER */

.filter {
    height: 170px;
    background: url(./images/bg-header-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
}

/* JOBS CONTAINER */

.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-block: 70px 120px;
}

/* JOB ITSELF */

.job-itself {
    width: 1200px;
    padding: 30px 40px;
    border-radius: 0.5rem;
    border: 0;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.job-itself::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(180, 29%, 50%);
}

/* JOB ITSELF LEFT */

.job-itself-left {
    display: flex;
    align-items: center;
    column-gap: 25px;
    height: 100%;
}

/* JOB ITSELF IMAGE */

.job-itself-left-image {
    line-height: 0;
}

/* JOB ITSELF LEFT TEXT */

.job-itself-left-text {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

/* JOB ITSELF LEFT TEXT TOP */

.job-itself-left-text-top {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.job-itself-text-top-company-name {
    color: hsl(180, 29%, 50%);
}

.job-itself-text-top-inner {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.job-itself-text-top-new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    padding-block: 6px 3px;
    padding-inline: 8px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.job-itself-text-top-featured {
    background-color: hsl(180, 14%, 20%);
    color: white;
    padding-block: 6px 3px;
    padding-inline: 8px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

/* JOB ITSELF LEFT TEXT MIDDLE */

.job-itself-left-text-position {
    color: hsl(180, 14%, 20%);
}

/* JOB ITSELF LEFT TEXT BOTTOM */

.job-itself-left-text-bottom {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: hsl(180, 8%, 52%);
}

.job-itself-left-text-bottom-job-info {
    font-weight: 500;
}

.job-itself-left-text-bottom-divider {
    border: 3px solid hsl(180, 8%, 52%);
    border-radius: 1rem;
}

/* JOB ITSELF MOBILE IMAGE */

.job-itself-mobile-image {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    display: none;
}

.job-itself-mobile-image-itself {
    width: 100%;
    height: 100%;
}

/* JOB ITSELF RIGHT */

.job-itself-right {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

/* JOB ITSELF RIGHT BUTTON */

.job-itself-right-button {
    font-size: 1.1rem;
    color: hsl(180, 29%, 50%);
    padding-block: 11px 8px;
    padding-inline: 15px;
    font-weight: 700;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(91, 164, 164, 0.1);
}

.job-itself-right-button:hover {
    background-color: hsl(180, 29%, 50%);
    color: white;
}